<!DOCTYPE html>
<html lang="en">
<head>
  <title>SLACKER DATABASE</title>
  <link rel="stylesheet" type="text/css" href="/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/my-styles.css">
</head>
<body>
  <%= yield %>
</body>
</html>
